# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# Virtual Environment
# =========================
venv/
.env/
env/
ENV/

# =========================
# Flask / App Files
# =========================
instance/
.webassets-cache

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Database
# =========================
*.db
*.sqlite3
*sqlite

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Migrations (optional)
# =========================
migrations/__pycache__/